@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Esteban);
* { margin:0;padding:0;box-sizing:border-box; }
body {
	background-color: gray;
	background-image:url('../images/background.jpg');
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size:cover;
	background-position:bottom;
	font-size:18px;
	font-family: 'Josefin Sans', sans-serif;
	
	
}
h1, h2{
	font-family: 'Esteban', serif;
	font-weight: 200;
	line-height: 1.5em;
	margin: .5em 0 ;
}
section#splash {
	height:50vh;
	margin: .5em 0 ;
	padding:250px;
}
section#maincontent {
	
}
.eev {
	background:rgba(128,128,128,.7);
	color:white;
	margin-left: 1em 0;
	float: left;
	width: 33.33%;

}
section#contact {
	background-color:rgba(0,0,0,.6);
	padding:50px;
}
section#contact a {
	text-decoration: none;
}
section#contact {
	color:white;
	padding:10px;
	clear: both;
}
