* { margin:0;padding:0;box-sizing:border-box; }
body {
	background-color: gray;
	background-image:url('../images/background.jpg');
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size:cover;
	background-position:bottom;
	font-size:16px;
	font-family: arial, helvetica, sans-serif;

}
section#splash {
	height:50vh;
	margin: 100px 75px 75px;
	background-color: rgba(128,128,128,.8);
}
section#maincontent {
	
}
.eev {
	background:rgba(128,128,128,.7);
	margin:50px;
	color:white;
	padding:50;
}
section#contact {
	background-color:rgba(0,0,0,.6);
}
section#contact a {
	text-decoration: none;
}
section#contact {
	color:white;
}
