@import url(http://fonts.googleapis.com/css?family=Quando|Oswald:300,200);
* { margin:0;padding:0;box-sizing:border-box; }
body {
	background-color: #ffffff;
	color: #666666;
	font-size:16px;
	font-family: 'Oswald', sans-serif;
}
h1, h2{
	font-family: 'Quando', serif;
	font-weight: 200;
	line-height: 1.5em;
	margin: .5em 0;
}
ul{
	margin: 1em; 
	list-style:none; 
}
nav{
	font-family: 'Oswald',sans-serif;
	font-size: .75em
}
a{
	color: #666666;
	text-decoration: none;
  	display: block;
  	float: right;
  	padding: .5em 1em;
}
a:hover {
	background-color: #666666;
	color: #ffffff;
}
section#header {
	font-size: 1em;
	color: #666666;
	height:50vh;
	margin: .5em auto;
}
#maincontent {
	float:none;
	margin: .5em auto;
	padding: 25px;
	max-width: 1200px;
}
.eev {
	background:rgba(128,128,128,.7);
	color:white;
	margin-left: 1em 0;
	float: left;
	width: 33.33%;
	padding: 1em;
}
section#contact {
	background-color:rgba(0,0,0,.6);
	color:white;
	padding:1em;
	clear:both;
}
section#contact a {
	text-decoration: none;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
