@import url(http://fonts.googleapis.com/css?family=Lobster|Oswald:400,300,200);
* { margin:0;padding:0;box-sizing:border-box; }
body {
	background-image:url('../images/background.jpg');
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size:cover;
	background-position:bottom;
	font-size:18px;
	color:white;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}

nav{
	font-family: 'Oswald',sans-serif;
	font-size: .75em
}
a{
	color: white;
	text-decoration: none;
	text-decoration: none;
  	display: block;
  	float: left;
  	padding: 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
a:hover {
	background-color: gray;
}
h1{
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
}
h2{
	margin-bottom: 1em;
}
h3{
	margin-bottom: 1em;
}
p{
	font-family: font-family: 'Oswald', sans-serif;
	line-height: 1.25em;
	margin-bottom: 1em;
	text-align: justify;
}
ul{
  list-style:none; 
  font-weight: 300;
  line-height: 1.25em;
}
span{
	font-weight: 300;
}
div{
	float:left;
}
.pizza{
	float:right;
}
section#splash {
	font-size: 3em;
	font-weight: 300;
	color: white;
	height:50vh;
	margin: .5em 0 ;
	padding: 25px;
}
section#maincontent {
	margin: .5em 0 ;
	padding: 25px;
	width: 1200px;
}
section#footer {
	font-size:.75em;
}
.texty {
	clear:both;
	font-weight:300;
	width:100%;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
