@import url(http://fonts.googleapis.com/css?family=Lobster|Oswald:400,300);
body {
	background-image:url('../images/background.jpg');
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size:cover;
	background-position:bottom;
	font-size:18px;
	color:white;
	font-family: 'Oswald', sans-serif;
}
h1{
	font-family: 'Lobster', cursive;
	font-size: 1.5em;

}
p{
	font-family: font-family: 'Oswald', sans-serif;
}
ul{
  list-style:none; 
  font-weight: 300;
  line-height: 1.25em;
}
span{
	font-weight: 300;
}
.location{
	width:25%;
	float: left;
}
.pizza {
	float:left;
	width:75%;
}
.texty {
	clear:both;
	font-weight:300;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}